!------------------------------------------------------------------------------!
! defaults !
!------------------------------------------------------------------------------!
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: Human
Xcursor.theme_core: true

! try to avoid the screen flashing white when starting Emacs...
Emacs.default.attributeBackground: black
Emacs.default.attributeForeground: white

!------------------------------------------------------------------------------!
! rxvt unicode !
!------------------------------------------------------------------------------!
URxvt*iconName: terminal
URxvt*depth: 32
URxvt*geometry: 80x45
URxvt*letterSpace: -1
URxvt*cursorUnderline: true
URxvt*saveLines: 65535
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollstyle: plain
URxvt.fading: 0
URxvt.perl-ext-common: matcher,tabbedex,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.tabbed.autohide: true
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Shift-Left: perl:tabbedex:prev_tab
URxvt.keysym.Shift-Right: perl:tabbedex:next_tab
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.clipboard.autocopy: true
!URxvt.keysym.Control-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.urgentOnBell: true

!! To be portable, any colour scheme should roughly match the ANSI colour codes
!! http://en.wikipedia.org/wiki/ANSI_escape_code#Colors
!! which cycle through: black, red, green, yellow, blue, magenta, cyan, white
!! and repeat for the "bright" versions.

!! Mini-darcula
URxvt.background:  #2B2B2B
URxvt.foreground:  #a9b7c6
URxvt.color0:      #2B2B2B
URxvt.color1:      #cc7832
URxvt.color2:      #629755
URxvt.color3:      #fec66c
URxvt.color4:      #5859b7
URxvt.color5:      #9876aa
URxvt.color6:      #259185
URxvt.color7:      #a9b7c6
! the lighter/stronger variants
URxvt.color8:      #4d4d4d
URxvt.color9:      #de7620
URxvt.color10:     #59a547
URxvt.color11:     #fec64c
URxvt.color12:     #4041cf
URxvt.color13:     #9e64bc
URxvt.color14:     #179f90
URxvt.color15:     #ced6de


URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    0
URxvt.tabbed.tab-bg:    2

!! Mini-darcula
xterm*background:  #2B2B2B
xterm*foreground:  #a9b7c6
xterm*color0:      #2B2B2B
xterm*color1:      #cc7832
xterm*color2:      #629755
xterm*color3:      #fec66c
xterm*color4:      #5859b7
xterm*color5:      #9876aa
xterm*color6:      #259185
xterm*color7:      #a9b7c6
! the lighter/stronger variants
xterm*color8:      #4d4d4d
xterm*color9:      #de7620
xterm*color10:     #59a547
xterm*color11:     #fec64c
xterm*color12:     #4041cf
xterm*color13:     #9e64bc
xterm*color14:     #179f90
xterm*color15:     #ced6de

!xterm*highlightColor:  [material:view-selected-bg]
!xterm*cursorColor:     [material:cursor-normal-bg]

!https://www.gnu.org/software/emacs/manual/html_node/efaq/Meta-key-does-not-work-in-xterm.html
!XTerm*eightBitInput:   false
!XTerm*eightBitOutput:  true
!XTerm.VT100.EightBitInput: false
!https://askubuntu.com/questions/442644/
xterm*VT100.metaSendsEscape: true
